#page-wrap {
  box-shadow: 0 0 100px black;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-filter: blur(0) grayscale(0);
  filter: blur(0) grayscale(0);
}
.dialogIsOpen #page-wrap {
  -webkit-filter: blur(5px) grayscale(50%);
  filter: blur(5px) grayscale(50%);

}

#dark-wrap {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  pointer-events: none;
  position: fixed;
  width: 100%;
  height:100%;
  background: black;
  opacity: 0;
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.dialogIsOpen #dark-wrap {
  pointer-events: auto;
  opacity: 0.50;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

#login-wrap {
	display:none;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  pointer-events: auto;
  border-radius: 5px;
  position: fixed;
  width: 690px;
  height: 350px;
  background: white;
  box-shadow: 0 0 25px black;
  top: 25%;
  left: 25%;
  opacity: 0;
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  border : solid 7px #E6E6FF;
   font-family: 'Ubuntu', sans-serif;
  font-size: 1vw;
}

.loginDialogIsOpen #login-wrap {
  pointer-events: auto;
  opacity: 1;
  display:block;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

#product-wrap {
	display:none;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  pointer-events: auto;
  border-radius: 5px;
  position: fixed;
  width: 690px;
  height: 350px;
  background: white;
  box-shadow: 0 0 25px black;
  top: 25%;
  left: 25%;
  opacity: 0;
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  border : solid 7px #E6E6FF;
   font-family: 'Ubuntu', sans-serif;
  font-size: 1vw;
}

.dialogHeader{
height:7%;
width:100%;
background-color: #E6E6FF;
font-size: 1vw;
}
.dialogContent{
font-size: 1.5vw;
height:85%;
width:100%;
}
.dialogFooter{
height:10%;
width:100%;
}




.productDialogIsOpen #product-wrap {
  pointer-events: auto;
  opacity: 1;
  display:block;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.btn {
	 font-family: 'Ubuntu', sans-serif;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 3px 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
.btn-default:hover {
    background-color: #e8e8ee;
}

.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
.btn-primary:hover {
    background-color: #438ac7;
}



#remove-wrap {
	display:none;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  pointer-events: auto;
  border-radius: 5px;
  position: fixed;
  width: 690px;
  height: 350px;
  background: white;
  box-shadow: 0 0 25px black;
  top: 25%;
  left: 25%;
  opacity: 0;
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  border : solid 7px #E6E6FF;
   font-family: 'Ubuntu', sans-serif;
  font-size: 1vw;
}

.removeDialogIsOpen #remove-wrap {
  pointer-events: auto;
  opacity: 1;
  display:block;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}



#error-wrap {
	display:none;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  pointer-events: auto;
  border-radius: 5px;
  position: fixed;
  max-width: 50%;
  max-height: 50%;
  background: #ff8a8a;
  box-shadow: 0 0 25px black;
  top: 25%;
  left: 25%;
  opacity: 0;
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  border : solid 7px #dc2a2a;
   font-family: 'Ubuntu', sans-serif;
  font-size: 1vw;
}

.errorMessageIsOpen #error-wrap {
  pointer-events: auto;
  opacity: 1;
  display:block;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

#loading-wrap {
	display:none;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  pointer-events: auto;
  border-radius: 5px;
  position: fixed;
  width: 10%;
  height: 10%;
  background: none;
  top: 45%;
  left: 45%;
  opacity: 0;
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  border :none;
   font-family: 'Ubuntu', sans-serif;
  font-size: 1vw;
}

.loadingIsOpen #loading-wrap {
  pointer-events: auto;
  opacity: 1;
  display:block;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
   color:white;
}

.loginErrorMessage{
	opacity: 0;
	color:red;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1vw;
}

.loginError .loginErrorMessage{
	opacity: 1;
}


